@font-face {
    font-family: "PassionSansPDaa-Hairline";
    src: url("/fonts/PassionSansPDaa-Hairline/PassionSansPDaa-Hairline.ttf");
}

@font-face {
    font-family: "PassionSansPDak-Bold";
    src: url("/fonts/PassionSansPDaa-Hairline/PassionSansPDak-Bold.ttf");
}

@font-face {
    font-family: "FiraSans-Thin";
    src: url("/fonts/FiraSans-Thin.ttf");
}

@font-face {
    font-family: "FiraSans-Light";
    src: url("/fonts/FiraSans-Light.ttf");
}
